<h2 class="mb-3">Upcoming Milestones</h2>

<% milestones.where('due_at >= ?', Date.today).order('due_at ASC').limit(5).each do |ms| %>
  <div class="panel">
    <div class="panel-heading">
      <%= link_to container_route_for(ms) do %>
        <%= icon('bell-on') %> <%= ms.name %> is <%= ms.due_at == Date.today ? 'today' : 'in ' + time_ago_in_words(ms.due_at) %>
      <% end %>
    </div>
  </div>
<% end %>