<h1>Editing Milestone</h1>

<%= render 'form', milestone: @milestone %>

<%= link_to 'Show', current_container_route_for(@milestone) %> |
<%= link_to 'Back', current_container_route_for(:milestones) %>
