<h1><%= current_organization.name %> Milestones</h1>

<% @milestones.each do |ms| %>
  <div class="panel">
    <div class="panel-heading">
      <%= link_to container_route_for(ms) do %>
        <%= icon('bell-on') %> <%= ms.name %> is <%= ms.due_at == Date.today ? 'today' : 'in ' + time_ago_in_words(ms.due_at) %>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Milestone', current_container_route_for(:milestone, :new) %>
