<h1><%= @milestone.name %></h1>

<h3>Due Date</h3>
<div><%= @milestone.due_at.strftime("%b %-d") %></div>
<div>
<% if @milestone.due_at < Date.today %>
  <div class="tag is-size-5 is-danger">This was due <%= time_ago_in_words(@milestone.due_at) %> ago!</div>
<% elsif @milestone.due_at == Date.today %>
  <div class="tag is-size-5 is-warning">This is due today!</div>
<% else %>
  <div class="tag is-size-5 is-info">This is due in <%= time_ago_in_words(@milestone.due_at) %>.</div>
<% end %>
</div>

<%= link_to 'Edit', current_container_route_for(@milestone, :edit) %> |
<%= link_to 'Back', current_container_route_for(:milestones) %>
