<%= form_with(model: current_container_route_array_for(person)) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :avatar %>
        <%= form.file_field :avatar%>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :email, "User's Email" %>
        <%= form.text_field :email %>
        <p class="help">Enter an email here to link this person to a User</p>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
