<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<svg
   width="64"
   height="64"
   viewBox="0 0 64 64"
   version="1.1"
   id="svg5"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
   <rect x="0" y="0" width="64" height="64" style="fill: <%= current_universe.bg %>" />
   <text
      xml:space="preserve"
      style="text-align:center;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32.6667px;font-family:Fira Code;-inkscape-font-specification:'Roboto Bold';stroke-width:0"
      x="12"
      y="50"
      id="text5534"><tspan
      id="tspan5532"
      x="12"
      y="46"
      style="fill:<%= current_universe.fg %>;text-align:center;font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32.6667px;font-family:Fira Code;-inkscape-font-specification:'Roboto Bold';stroke-width:0"><%= @person.initials %></tspan></text>
</svg>
