<h1>People</h1>

<% @people.each do |person| %>
  <p>
    <%= link_to current_container_route_for(person) do %>
      <%= image_tag current_container_route_for(person, :avatar), class: 'avatar-inline' %> <%= person.name %>
    <% end %>
  </p>
<% end %>

<br>

<%= link_to 'New Person', current_container_route_for(:person, :new) %>
