<h1><%= image_tag current_container_route_for(@person, :avatar), class: 'avatar-inline' %> <%= @person.name %></h1>

<div class="columns">
  <div class="column is-8">
    <%= render partial: 'todos/list', locals: { todos: @person.assignments.map(&:todo), counter: 3 } %>

  </div>
</div>

<%= link_to 'Edit', current_container_route_for(@person, :edit) %> |
<%= link_to 'Back', current_container_route_for(:people) %>
