<% if current_universe %>
  <section class="actionbar" data-turbo="false">
    <%= action_link current_universe, icon('planet-ringed'), current_universe.name, current_universe.bg, current_universe.fg %>
    <%= action_link universe_people_path(current_universe), icon('users'), 'People', current_universe.bg, current_universe.fg %>
    <%= action_link calendar_universe_path(current_universe), icon('calendar-alt'), 'Calendar', current_universe.bg, current_universe.fg , data: { turbo: false } %>
    <%= action_link universe_organizations_path(current_universe), icon('users-class'), 'Organizations', current_universe.bg, current_universe.fg %>
    <% if current_organization %>
      <%= action_link [current_universe, current_organization], icon('house'), current_organization.name, current_organization.bg, current_organization.fg %>
      <%= action_link calendar_universe_organization_path(current_universe, current_organization), icon('calendar'), 'Calendar', current_organization.bg, current_organization.fg , data: { turbo: false } %>
      <%= action_link current_container_route_for(:todos), icon('clipboard-list'), 'ToDos', current_organization.bg, current_organization.fg  %>
    <% end %>
  </section>
<% end %>