<div id="calendar"></div>

<script>
var calendar = null
var calendarEl = document.getElementById('calendar');
if(calendarEl) {
  calendar = new FullCalendar.Calendar(calendarEl, {
    headerToolbar: {
      start: 'title',
      center: 'dayGridMonth timeGridWeek',
      end: 'today prev,next'
    },
    height: '80vh',
    initialView: 'timeGridWeek',
    events: '<%= url %>'
  });
  calendar.render();
}
</script>