<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= image_tag 'logo-inverse.png' %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="primaryNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="primaryNavbar" class="navbar-menu">
    <div class="navbar-start">
      <% if current_user %>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <%= icon('planet-ringed') %> &nbsp; Your Universes
        </a>

        <div class="navbar-dropdown">
          <% current_user.universes.each do |u| %>
            <%= link_to u.name, u, class: 'navbar-item' %>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if super_admin? %>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <%= icon('wrench') %> &nbsp; System Setup
        </a>

        <div class="navbar-dropdown">
          <%= link_to "Manage Universes", universes_path, class: 'navbar-item' %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="navbar-end">
      <% if current_user %>
        <li class="navbar-item">
          <%= link_to 'Log Out', destroy_session_path, class: 'button is-light' %>
        </li>
      <% else %>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      <% end %>

      <% if flash.empty? %>
          <div class="navbar-item">
            <i class="fas fa-bell"></i> &nbsp; &nbsp;
          </li>
        <% else %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              (<%= flash.count %>) &nbsp; <i class="fas fa-bell"></i>
            </a>

            <div class="navbar-dropdown">
              <% flash.each do |k, msg| %>
                <div class="alert alert-dark">
                  <%= msg %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</nav>