<div class="columns">
  <div class="column is-8">
    <h2>Your Universes</h2>
    <% current_user.universes.each do |universe| %>
      <div class="card">
        <div class="card-header" style="background-color: <%= universe.bg %>">
          <h2><%= link_to universe.name, universe, style: "color: #{universe.fg}" %></h2>
        </div>
        <div class="card-content">
          <%= universe.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>