<div class="columns">
  <div class="column is-8">
  </div>
  <div class="column is-4">
    <h2>Log In</h2>
    <%= link_to '/auth/developer', class: 'button is-large is-outlined my-3', data: { turbo: false } do %>
      <%= icon('laptop') %> Log in as Developer
    <% end %>
  </div>
</div>