<%= form_with(model: current_container_route_array_for(event)) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <div class="field">
        <%= form.label :starts_at %>
        <%= form.datetime_field :starts_at %>
      </div>
      <div class="field">
        <%= form.label :ends_at %>
        <%= form.datetime_field :ends_at %>
      </div>
      <div class="field">
        <%= form.label :location %>
        <%= form.text_field :location %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :mode %>
        <%= form.text_field :mode %>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :limit %>
        <%= form.number_field :limit %>
      </div>
    </div>
    <div class="column">  
      <div class="field">
        <%= form.label :locked %>
        <%= form.check_box :locked %>
      </div>
    </div>
  </div>



  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
