<h1><%= current_organization.name %> Events</h1>

<% @events.each do |event| %>
  <div class="panel">
    <div class="panel-heading">
      <%= link_to container_route_for(event) do %>
        <%= icon('calendar-star') %> <%= event.title %> is <%= event.starts_at == Date.today ? 'today' : 'in ' + time_ago_in_words(event.starts_at) %>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Event', current_container_route_for(:event, :new) %>
