<h1><%= @event.title %></h1>

<div class="columns">
  <div class="column">
    <% if @event.one_day? %>
      <%= @event.starts_at.strftime('%b %-d, %Y') %> <%= @event.starts_at.strftime('%I:%M %p') %> &mdash; <%= @event.starts_at.strftime('%I:%M %p') %>
    <% else %>
      <%= @event.starts_at.strftime('%b %-d, %Y %I:%M %p') %> &mdash; <%= @event.ends_at.strftime('%b %-d, %Y %I:%M %p') %>
    <% end %>
  </div>
  <div class="column">
    <p>
      <strong>Status: </strong>
      <%= @event.status_message %>
    </p>

    <p>
      <strong>Location: </strong>
      <%= @event.location %>
    </p>
  </div>
</div>

<%= link_to 'Edit', current_container_route_for(@event, :edit) %> |
<%= link_to 'Back', current_container_route_for(:events) %>
