<h2 class="mb-3">Organizations</h2>

<% @universe.organizations.each do |org| %>
  <div class="panel">
    <div class="panel-heading" style="background-color: <%= org.bg %>">
      <%= link_to container_route_for(org), style: "color: #{org.fg}" do %>
        <%= org.name %>
      <% end %>
    </div>
    <% if org.description.present? %>
      <div class="panel-block">
        <%= org.description %>
      </div>
    <% end %>
  </div>
<% end %>