<h2 class="mb-3">What's Happening Today</h2>

<% @universe.journals.where(done_at: Date.today).where('journals.created_at < ?', Date.today).each do |journal| %>
  <div class="panel is-leather">
    <div class="panel-heading">
      <%= link_to container_route_for(journal) do %>
        <%= image_tag journal.person.avatar, class: 'avatar-inline' %>
        <%= journal.person.name %> left a note
      <% end %>
    </div>
    <div class="panel-block">
      <%= journal.content %>
    </div>
  </div>
<% end %>

<% @universe.milestones.where(due_at: Date.today).each do |milestone| %>
  <div class="panel is-primary">
    <div class="panel-heading">
      <%= link_to container_route_for(milestone) do %>
        <%= icon('bell-on') %> <%= milestone.name %> is today!
      <% end %>
    </div>
  </div>
<% end %>

<% @universe.todos.where('due_at < ?', Date.today).to_a.keep_if { |t| t.overdue? }.each do |todo| %>
  <div class="panel is-danger">
    <div class="panel-heading">
      <%= link_to container_route_for(todo) do %>
        <%= icon('clipboard-list') %> <%= todo.kind %> <%= todo.key %>, <%= todo.title %>, is overdue!
      <% end %>
    </div>
  </div>
<% end %>

<% @universe.todos.where(due_at: Date.today).each do |todo| %>
  <div class="panel">
    <div class="panel-heading">
      <%= link_to container_route_for(todo) do %>
        <%= icon('clipboard-list') %> <%= todo.kind %> <%= todo.key %>, <%= todo.title %>, is due today.
      <% end %>
    </div>
  </div>
<% end %>