<h1><%= @universe.name %> Calendar</h1>

<div class="columns">
  <div class="column is-12">
    <%= render partial: 'shared/calendar', locals: { url: calendar_universe_path(current_universe, format: :json)} %>
  </div>
</div>