<h1>Universes</h1>

<% @universes.each do |universe| %>
  <div class="card">
    <div class="card-header" style="background-color: <%= universe.bg %>">
      <h2><%= link_to universe.name, universe, style: "color: #{universe.fg}" %></h2>
    </div>
    <div class="card-content">
      <%= universe.description %>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Universe', new_universe_path %>
