<h1><%= @universe.name %></h1>

<%= @universe.description %>

<section class="dashboard-builder columns">
  <% @universe.dashboard_config.each do |col|%>
    <div class="column is-<%= col.delete_at(0) %>">
      <% col.map(&:strip).map { |e| t = e.split('|') }.each do |block| %>
        <div class="dashboard-block">
          <% case block[0] %>
            <% when 'todo-graph' %>
              <%= render partial: 'todos/graph', locals: { todos: @universe.todos.epics } %>
            <% when 'todo-list' %>
              <%= render partial: 'todos/list', locals: { todos: @universe.ready_tasks, counter: (block[1] || 3).to_i } %>
            <% when 'today' %>
              <%= render partial: 'today' %>
            <% when 'organizations' %>
              <%= render partial: 'organizations' %>
            <% when 'calendar' %>
              <%= render partial: 'shared/calendar', locals: { url: calendar_universe_path(current_universe, format: :json)} %>
            <% when 'milestones' %>
              <%= render partial: 'milestones/dashboard_widget', locals: { milestones: @universe.milestones } %>
            <% else %>
              <div>!<%= block %>!</div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>

<%= link_to 'Edit', edit_universe_path(@universe) %> |
<%= link_to 'Back', universes_path %>
