<%= form_with(model: current_container_route_array_for(todo)) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column is-2">
      <div class="field">
        <%= form.label :kind %>
        <%= form.select :kind, Todo.KINDS %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
    </div>
    <div class="column is-2">
      <div class="field">
        <%= form.label :due_at %>
        <%= form.date_field :due_at, include_blank: true %>
      </div>
    </div>
  </div>

  

  <div class="field">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>





  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
