<div id="networkGraph"></div>

<script>
// create an array with nodes
      var nodes = new vis.DataSet(<%= todos_to_nodes(todos) %>);

      // create an array with edges
      var edges = new vis.DataSet(<%= todos_to_edges(todos) %>);

      // create a network
      var container = document.getElementById("networkGraph");
      var data = {
        nodes: nodes,
        edges: edges,
      };
      var options = {
        width: '100%',
        height: '100%',
        layout: {
          improvedLayout: true,
          hierarchical: {
            enabled: false,
            levelSeparation: 100,
            nodeSpacing: 200,
            direction: "RL",
            sortMethod: 'directed',
          },
        },
        edges: {
          smooth: {
            enabled: false
          }
        },
        physics: {
          enabled: false,

        }
      };
      
      var network = new vis.Network(container, data, options);

      network.on('doubleClick', function(params) {
        window.open(nodes.get(params.nodes[0]).url, '_blank')
      });
</script>