<h2 class="mb-3">Open ToDo Items</h2>


<% todos.in_groups_of(counter || 3).each do |group| %>
  <div class="columns is-align-items-stretch">
    <% group.select(&:present?).each do |todo| %>
      <div class="column is-<%= 12 / (counter || 3) %>">
        <div class="panel">
          <div class="panel-heading">
            <% if todo.parents.present? %>
              <% todo.parents.each do |epic| %>
                <div class="ml-2"><em><%= link_to epic.title, container_route_for(epic) %></em></div>
                <% end %>
            <% end %>
            <div class="is-size-5">
              <%= link_to container_route_for(todo) do %>
                <%= todo.kind %> <%= todo.key %>: <%= todo.title %>
              <% end %>
            </div>
          </div>
          <div class="panel-block">
            <%= todo.description %>
          </div>
          <div class="panel-block">
            <div class="columns">
              <div class="column is-3">
                <% if todo.manager.present? %>
                  <%= link_to container_route_for(todo.manager) do %>
                    <%= image_tag avatar_universe_person_path(current_universe, todo.manager), class: 'avatar'%>
                  <% end %>
                <% else %>
                  <em class="is-size-4">-</em>
                <% end %>
              </div>
              <div class="column is-9 is-size-4">
                <% todo.people.each do |p| %>
                  <% unless p.id == todo.manager&.id %>
                    <%= link_to container_route_for(p) do %>
                      <%= image_tag avatar_universe_person_path(current_universe, p), class: 'avatar-inline'%>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>






