<h1><%= current_organization.name %> ToDos</h1>

<div class="columns">
  <div class="column is-10">
    <%= render partial: 'graph', locals: { todos: @todos.epics.count > 2 ? @todos.epics : @todos }%>
  </div>
  <div class="column is-2">
    <%= link_to 'New Todo', current_container_route_for(:todo, :new), class: 'button is-large is-primary' %>
  </div>
</div>

<hr>

<%= render partial: 'list', locals: { todos: current_organization.ready_tasks, counter: 4 } %>