<h1><%= todo_text @todo %> - <%= @todo.title %></h1>

<div class="columns">
  <div class="column is-6">
    <div class="box">
      <%= @todo.description.presence || "<em><small>No description has been entered.</small></em>".html_safe %>
    </div>
  </div>
  <div class="column is-4">
    <h3>People</h3>
    <ul>
      <% @todo.assignments.each do |a| %>
        <div>
          <%= image_tag avatar_universe_person_path(current_universe, a.person), class: 'avatar-inline' %> &nbsp;
          <%= link_to a.person.name, container_route_for(a.person), target: '_blank' %>
          is
          <%= a.role %> &nbsp;
          <%= form_with url: current_container_route_for(@todo, :unassign), class: 'is-inline' do |f| %>
            <%= f.hidden_field :person_id, value: a.person_id %>
            <button type="submit" class="button is-small"><span class="icon is-small"><%= icon('trash') %></span></button>
          <% end %>
        </div>
      <% end %>
    </ul>

    <br>

    <h4>Assign Someone</h4>
    <%= form_with url: current_container_route_for(@todo, :assign) do |f| %>
      <%= f.select :person_id, current_universe.people.map { |t| [t.name, t.id] } %>
      <%= f.select :role, Todo.ROLES[@todo.kind] %>

      <%= f.submit %>
    <% end %>
  </div>
  <div class="column is-2">
    <div class="columns">
      <div class="column">
        <p><% if @todo.done %>
          <%= form_with model: current_container_route_array_for(@todo) do |f| %>
            <%= f.hidden_field :done, value: 'false' %>
            <%= f.submit "Mark as Incomplete", class: 'button' %>
          <% end %>
        <% elsif @todo.ready? %>
          <%= form_with model: current_container_route_array_for(@todo) do |f| %>
            <%= f.hidden_field :done, value: 'true' %>
            <%= f.submit "Mark as Complete", class: 'button' %>
          <% end %>
        <% else %>
          <button class="button is-disabled" disabled><strong><em>This todo is blocked!</em></strong></button>
        <% end %></p>

        <p>
          <%= link_to current_container_route_for(@todo, :edit), class: 'button is-info' do %>
            <%= icon('edit') %> &nbsp; Edit
          <% end %>
        </p>

        <p>
          <%= button_to current_container_route_array_for(@todo), method: 'delete', class: 'button is-danger' do %>
            <%= icon('trash') %> &nbsp; Delete
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="columns">
  <div class="column is-3">
    <% if @todo.due_at.present? %>
      <h3>Due Date</h3>
      <div><%= @todo.due_at.strftime("%b %-d") %></div>
      <% if @todo.due_at < Date.today %>
        <div class="tag is-size-5 is-danger">This was due <%= time_ago_in_words(@todo.due_at) %> ago!</div>
      <% elsif @todo.due_at == Date.today %>
        <div class="tag is-size-5 is-warning">This is due today!</div>
      <% else %>
        <div class="tag is-size-5 is-info">This is due in <%= time_ago_in_words(@todo.due_at) %>.</div>
      <% end %>
    <% end %>
    <br>
    <hr>  
    <h3>Requires</h3>

    <ul>
      <% @todo.independents.each do |t| %>
        <li>
          <%= todo_link t %> 
          <%= form_with url:current_container_route_for(:todos, :unrelate), class: 'is-inline' do |f| %>
            <%= f.hidden_field :dependent_id, value: @todo.id %>
            <%= f.hidden_field :independent_id, value: t.id %>
            <button type="submit" class="button is-small"><span class="icon is-small"><%= icon('trash') %></span></button>
          <% end %>
        </li>
      <% end %>
    </ul>

    <br>

    <h4>Add something that needs to be done before this</h4>
    <%= form_with url: current_container_route_for(:todos, :relate) do |f| %>
      <%= f.hidden_field :dependent_id, value: @todo.id %>

      <%= f.select :independent_id, current_universe.todos.where.not(id: @todo.id).map { |t| ["#{t.kind} #{t.key} #{t.title}", t.id] } %>

      <%= f.submit %>
    <% end %>

    <hr>

    <h3>Required By</h3>

    <ul>
      <% @todo.dependents.each do |t| %>
        <li>
          <%= todo_link t %>
          <%= form_with url:current_container_route_for(:todos, :unrelate), class: 'is-inline' do |f| %>
            <%= f.hidden_field :dependent_id, value: t.id %>
            <%= f.hidden_field :independent_id, value: @todo.id %>
            <button type="submit" class="button is-small"><span class="icon is-small"><%= icon('trash') %></span></button>
          <% end %>
        </li>
      <% end %>
    </ul>

    <br>

    <h4>Add something that needs this to be done first</h4>
    <%= form_with url: current_container_route_for(:todos, :relate) do |f| %>
      <%= f.hidden_field :independent_id, value: @todo.id %>

      <%= f.select :dependent_id, current_universe.todos.where.not(id: @todo.id).map { |t| ["#{t.kind} #{t.key} #{t.title}", t.id] } %>

      <%= f.submit %>
    <% end %>

    <hr>

    <% if @todo.kind == 'Task' %>
      <h3>Belongs To</h3>

      <ul>
        <% @todo.parents.each do |t| %>
          <li>
            <%= todo_link t %>
            <%= form_with url:current_container_route_for(:todos, :unrelate), class: 'is-inline' do |f| %>
              <%= f.hidden_field :parent_id, value: t.id %>
              <%= f.hidden_field :child_id, value: @todo.id %>
              <button type="submit" class="button is-small"><span class="icon is-small"><%= icon('trash') %></span></button>
            <% end %>
          </li>
        <% end %>
      </ul>

      <br>

      <h4>Add an epic relationship</h4>
      <%= form_with url: current_container_route_for(:todos, :relate) do |f| %>
        <%= f.hidden_field :child_id, value: @todo.id %>

        <%= f.select :parent_id, current_universe.todos.epics.where.not(id: @todo.id).map { |t| ["#{t.kind} #{t.key} #{t.title}", t.id] } %>

        <%= f.submit %>
      <% end %>
    <% end %>

    <% if @todo.kind == 'Epic' %>
      <h3>Contains</h3>

      <ul>
        <% @todo.children.each do |t| %>
          <li>
            <%= todo_link t %>
            <%= form_with url:current_container_route_for(:todos, :unrelate), class: 'is-inline' do |f| %>
              <%= f.hidden_field :child_id, value: t.id %>
              <%= f.hidden_field :parent_id, value: @todo.id %>
              <button type="submit" class="button is-small"><span class="icon is-small"><%= icon('trash') %></span></button>
            <% end %>
          </li>
        <% end %>
      </ul>

      <br>

      <h4>Add a child task</h4>
      <%= form_with url: current_container_route_for(:todos, :relate) do |f| %>
        <%= f.hidden_field :parent_id, value: @todo.id %>

        <%= f.select :child_id, current_universe.todos.tasks.where.not(id: @todo.id).map { |t| ["#{t.kind} #{t.key} #{t.title}", t.id] } %>

        <%= f.submit %>
      <% end %>
    <% end %>
  </div>
  <div class="column is-9">
    <%= render partial: 'graph', locals: { todos: (@todo.related.to_a) } %>
  </div>
</div>

<%= link_to 'Edit', current_container_route_for(@todo, :edit) %> |
<%= link_to 'Back', current_container_route_for(:todos) %>
