<%= form_with(model: current_container_route_array_for(journal)) do |form| %>
  <% if journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% journal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :person_id %>
        <%= form.select :person_id, current_universe.people.map { |p| [p.name, p.id] } %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :done_at, "Date" %>
        <%= form.date_field :done_at %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :private, "Hide this from everyone but you & organization admins?" %>
        <%= form.check_box :private %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :entry %>
    <%= form.rich_text_area :entry %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
