<h1><%= current_organization.name %> Journals</h1>

<% last_date = nil %>

<% @journals.each do |journal| %>
  <% if journal.done_at != last_date %>
    <% last_date = journal.done_at %>
    <h2><%= last_date.strftime("%b %-d") %></h2>
  <% end %>
  <div class="panel is-leather">
    <div class="panel-heading">
    <h2 class="is-size-3">
      <%= image_tag journal.person.avatar, class: 'avatar-inline'%>
      <%= journal.person.name %>
    </h2>
    </div>

    <div class="panel-block">
      <%= journal.entry %>
    </div>

    <div class="panel-block">
      <%= link_to 'Show Details', current_container_route_for(journal), class: 'button is-small is-primary' %>
    </div>
  </div>
<% end %>

<%= link_to 'New Journal', current_container_route_for(:journal, :new) %>
