<h1>Entry for <%= @journal.person.name %> on <%= @journal.done_at.strftime("%b %-d") %></h1>

<%= @journal.entry %>

<%= link_to 'Edit', current_container_route_for(@journal, :edit) %> |
<%= link_to 'Back', current_container_route_for(:journals) %>
