@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Fira+Code&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$blue:      #2c2a9d;
$purple:    #7e1894;
$red:       #d61e37;
$orange:    #e1861f;
$yellow:    #e1b91f;
$green:     #42bf1b;
$turquoise: #149077;
$cyan:      #196a8e;

$family-sans-serif: 'Roboto', sans-serif;
$family-secondary: 'Dosis', serif;
$family-code: 'Fira Code', monospace;

$primary: $purple;

/*! bulma.io v0.9.3 | MIT License | github.com/jgthms/bulma */
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/form/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/helpers/_all";
@import "bulma/layout/_all";

h1 {
  @extend .is-size-1;
  font-family: $family-secondary;
  font-weight: bold;
}

h2 {
  @extend .is-size-2;
  font-family: $family-secondary;
  font-weight: bold;
}

h3 {
  font-family: $family-secondary;
  font-weight: bold;
}

p {
  margin-bottom: 0.5em;
}

#app {
  padding-left: 6rem;
  min-height: 100vh;
}

.actionbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  width: 4rem;
  height: 100%;
  background-color: $white;
  z-index: 1000;

  & > a, & > button, & > .btn-group > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-color: $primary;
    color: white;
    font-size: 2rem;
    border: none;
    border-bottom: thin solid black;

    &:first-child {
      border-top: thin solid black;
    }

    img {
      height: 2rem;
    }
  }
}

.navbar {
  background-color: var(--universe-bg);
  color: var(--universe-fg);
}

.navbar-item, .navbar-link {
  color: var(--universe-fg);

  .navbar-item {
    color: $black;
  }
}

.navbar-burger {
  color: var(--universe-fg);
}

.navbar-link:not(.is-arrowless)::after {
  color: var(--universe-fg);
}

#networkGraph {
  width: 100%;
  height: 800px;
  min-height: 50vh;
  background-color: #ddd;
}

form.is-inline button.button {
  border: none !important;
  padding: 0 !important;
  margin: -0.25rem 0.25rem 0 0.25rem;
}

.field label {
  @extend .label;
}

.field {
  input[type="text"],input[type="number"] {
    @extend .input;
  }

  select {
    @extend .select;
  }

  textarea {
    @extend .textarea;
    width: 100%;
  }
}

.column .field {
  input, select {
    width: 100%;
  }
}

.actions input {
  @extend .button;
  @extend .is-success;
}

img.avatar-inline {
  height: 1em;
  border-radius: 0.6em;
  margin-bottom: -0.15em;
}

img.avatar {
  border-radius: 50%;
  margin-bottom: -0.15em;
}

.button.is-secondary {
  background-color: #444;
  color: white;
}

.button.is-outlined.is-secondary {
  border-color: #444;
  color: #444;
  background-color: white;
}

.button.is-leather {
  background-color: rgb(90, 55, 3);
  color: white;
}

.button.is-outlined.is-leather {
  border-color: rgb(90, 55, 3);
  color: rgb(90, 55, 3);
  background-color: white;
}

.column > .panel {
  height: 100%;
}

.panel.is-danger, .panel.is-primary {
  .panel-heading a {
    color: white;
  }
}

.panel.is-leather {
  .panel-heading {
    background-color: rgb(90, 55, 3);
    color: white;
    a {
      color: white;
    }
  }
}

.dashboard-builder {
  .column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;

    .dashboard-block {
      flex-basis: 1;
    }
  }
}

@import "./actiontext.scss";
@import "./trix.css";
