<%= form_with(model: [organization.universe, organization]) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :short, 'Short name (should be a small, URL-friendly code)' %>
        <%= form.text_field :short %>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :fg, 'Foreground Color' %>
        <%= form.color_field :fg %>
      </div>

      <div class="field">
        <%= form.label :bg, 'Background Color' %>
        <%= form.color_field :bg %>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :dashboard, "Dashboard Configuration" %>
        <%= form.text_area :dashboard %>
      </div>
    </div>
  </div>

  

    



  <div class="field">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
