<h1><%= @organization.name %> Calendar</h1>

<div class="columns">
  <div class="column is-9">
    <%= render partial: 'shared/calendar', locals: { url: calendar_universe_organization_path(current_universe, current_organization, format: :json)} %>
  </div>
  <div class="column is-3">

    <div class="columns">
      <div class="column is-9">
        <%= link_to current_container_route_for(:events), class: 'button is-large is-primary' do %>
          <%= icon('calendar-star') %> &nbsp; Events
        <% end %>
      </div>
      <div class="column is-3">
        <%= link_to current_container_route_for(:event, :new), class: 'button is-large is-outlined is-primary' do %>
          <span class="icon"><%= icon('plus') %></span>
        <% end %>
      </div>
    </div>

    <div class="columns">
      <div class="column is-9">
        <%= link_to current_container_route_for(:milestones), class: 'button is-large is-secondary' do %>
          <%= icon('bell-on') %> &nbsp; Milestones
        <% end %>
      </div>
      <div class="column is-3">
        <%= link_to current_container_route_for(:milestone, :new), class: 'button is-large is-outlined is-secondary' do %>
          <span class="icon"><%= icon('plus') %></span>
        <% end %>
      </div>
    </div>

    <div class="columns">
      <div class="column is-9">
        <%= link_to current_container_route_for(:todos), class: 'button is-large is-danger' do %>
          <%= icon('clipboard-list') %> &nbsp; ToDos
        <% end %>
      </div>
      <div class="column is-3">
        <%= link_to current_container_route_for(:todo, :new), class: 'button is-large is-outlined is-danger' do %>
          <span class="icon"><%= icon('plus') %></span>
        <% end %>
      </div>
    </div>

    <div class="columns">
      <div class="column is-9">
        <%= link_to current_container_route_for(:journals), class: 'button is-large is-leather' do %>
          <%= icon('book-user') %> &nbsp; Journals
        <% end %>
      </div>
      <div class="column is-3">
        <%= link_to current_container_route_for(:journal, :new), class: 'button is-large is-outlined is-leather' do %>
          <span class="icon"><%= icon('plus') %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>