<h1>Editing Organization</h1>

<%= render 'form', organization: @organization %>

<%= link_to 'Show', [current_universe, @organization] %> |
<%= link_to 'Back', universe_organizations_path(current_universe) %>
