<h1>Organizations</h1>

<% @organizations.each do |org| %>
  <div class="panel">
    <div class="panel-heading" style="background-color: <%= org.bg %>">
      <%= link_to container_route_for(org), style: "color: #{org.fg}" do %>
        <%= org.name %>
      <% end %>
    </div>
    <% if org.description.present? %>
      <div class="panel-block">
        <%= org.description %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'New Organization', new_universe_organization_path(current_universe) %>
