<h1><%= @organization.name %></h1>

<%= @organization.description %>

<section class="dashboard-builder columns">
  <% @organization.dashboard_config.each do |col|%>
    <div class="column is-<%= col.delete_at(0) %>">
      <% col.map(&:strip).map { |e| t = e.split('|') }.each do |block| %>
        <div class="dashboard-block">
          <% case block[0] %>
            <% when 'todo-graph' %>
              <%= render partial: 'todos/graph', locals: { todos: @organization.todos.map(&:related).flatten.uniq } %>
            <% when 'todo-list' %>
              <%= render partial: 'todos/list', locals: { todos: @organization.ready_tasks, counter: (block[1] || 3).to_i } %>
            <% when 'today' %>
              <%= render partial: 'today' %>
            <% when 'calendar' %>
              <%= render partial: 'shared/calendar', locals: { url: calendar_universe_organization_path(current_universe, current_organization, format: :json)} %>
            <% when 'milestones' %>
              <%= render partial: 'milestones/dashboard_widget', locals: { milestones: @organization.milestones } %>
            <% else %>
              <div>!<%= block[0] %>!</div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>

<%= link_to 'Edit', edit_universe_organization_path(current_universe, @organization) %> |
<%= link_to 'Back', universe_organizations_path(current_universe) %>
